body {
  padding-top: 50px;
  font-family: Verdana;
}

#content {
  color: #fff;
}

#content .col-md-3 {
  height: 630px;
}

.page-name {
  background: #ee5837 url("./page-name.jpg") center center no-repeat; /* Old browsers */
  background-size: cover;
  padding-top: 50px;
  height: 630px;
  text-align: center;
}

.word {
  border: 2px solid #fff;
  border-left: none;
  border-right: none;
  font-size: 22px;
}

.word .char {
  font-weight: 700;
  font-size: 28px;
}

.quote {
  font-size: 18px;
}

.quote .name {
  font-style: italic;
}

.quote .name:before {
  content: "- ";
}

.quote .name:after {
  content: " -";
}

.gre-pink{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e03481+0,5d3fb6+50,590a91+100 */
  background: #e03481; /* Old browsers */
  background: -webkit-radial-gradient(center, ellipse cover, #e03481 0%,#a21353 50%,#910a46 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #e03481 0%,#a21353 50%,#910a46 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e03481', endColorstr='#910a46',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gre-magenta {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#638eed+0,5d3fb6+50,590a91+100 */
  background: #638eed; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #638eed 0%, #5d3fb6 50%, #590a91 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #638eed 0%,#5d3fb6 50%,#590a91 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #638eed 0%,#5d3fb6 50%,#590a91 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#638eed', endColorstr='#590a91',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gre-green {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#89b303+0,689f0b+50,4d8f11+100 */
  background: #89b303; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #89b303 0%, #689f0b 50%, #4d8f11 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #89b303 0%,#689f0b 50%,#4d8f11 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #89b303 0%,#689f0b 50%,#4d8f11 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89b303', endColorstr='#4d8f11',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gre-orange {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f47b34+0,f26236+50,f15636+100 */
  background: #f47b34; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #f47b34 0%, #f26236 50%, #f15636 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #f47b34 0%,#f26236 50%,#f15636 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #f47b34 0%,#f26236 50%,#f15636 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47b34', endColorstr='#f15636',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gre-yellow {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbdd0f+0,989a06+50,656600+100 */
  background: #dbdd0f; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #dbdd0f 0%, #989a06 50%, #656600 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #dbdd0f 0%,#989a06 50%,#656600 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #dbdd0f 0%,#989a06 50%,#656600 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdd0f', endColorstr='#656600',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gre-blue {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00f2fc+0,00a5bc+50,0085a2+100 */
  background: #00f2fc; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #00f2fc 0%, #00a5bc 50%, #0085a2 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #00f2fc 0%,#00a5bc 50%,#0085a2 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #00f2fc 0%,#00a5bc 50%,#0085a2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f2fc', endColorstr='#0085a2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.face {  
  background-size: 250px 285px;
  background-position: center;
  width: 250px;
  height: 285px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 75px;
}

/* cards **/
.card-a .face {
  background-image: url('images/a.png');
}

.card-b .face {
  background-image: url('images/b.png');
}

.card-c .face {
  background-image: url('images/c.png');
}

.card-d .face {
  background-image: url('images/d.png');
}

.card-e .face {
  background-image: url('images/e.png');
}

.card-f .face {
  background-image: url('images/f.png');
}

.card-g .face {
  background-image: url('images/g.png');
}

.card-h .face {
  background-image: url('images/h.png');
}

.card-i .face {
  background-image: url('images/i.png');
}

.card-j .face {
  background-image: url('images/j.png');
}

.card-k .face {
  background-image: url('images/k.png');
}

.card-l .face {
  background-image: url('images/l.png');
}

.card-m .face {
  background-image: url('images/m.png');
}

.card-n .face {
  background-image: url('images/n.png');
}

.card-o .face {
  background-image: url('images/o.png');
}

.card-p .face {
  background-image: url('images/p.png');
}

.card-q .face {
  background-image: url('images/q.png');
}

.card-r .face {
  background-image: url('images/r.png');
}

.card-s .face {
  background-image: url('images/s.png');
}

.card-t .face {
  background-image: url('images/t.png');
}

.card-u .face {
  background-image: url('images/u.png');
}

.card-v .face {
  background-image: url('images/v.png');
}

.card-w .face {
  background-image: url('images/w.png');
}

.card-x .face {
  background-image: url('images/x.png');
}

.card-y .face {
  background-image: url('images/y.png');
}

.card-z .face {
  background-image: url('images/z.png');
}
